/****************************footer************************/
#footer{
    background-color: #333;
    padding: 35px 0 40px;
    color: #969696;
    border-top: 4px solid #777;
}
.footer-col h3.heading{
    color:#fff;
    font-size: 16px;
    text-transform: capitalize;
    color:#fff;
    border-bottom-color: #666;
    margin-bottom: 20px;
}
.address-info{
    font-family: $primary-font;
}
.address-info li{
    padding: 3px 0;
     color:#969696;
}
.address-info li i{
    color:$skincolor;
    margin-right: 5px;
}
.address-info li a{
    color:#969696;
}
.address-info li a:hover{
    color:$skincolor;
}
.popular-post li{
    padding-bottom: 20px;
}
.popular-img{
    float: left;
    margin-right: 10px;

}
.popular-img a img{
    width:50px;
    height: 50px;
}
.popular-desc{
    display: table;
}
.popular-desc h5{
    font-size: 17px;

}
.popular-desc h5 a{
    color:#666;
}
.popular-desc h5 a:hover{
    color:$skincolor;
}
.popular-desc h6{
    color:#777;
}
.newsletter-form .form-control{
    height: 38px;
}
.footer-work a img{
    opacity: 0.6;
    width:60px;
    height: 50px;
    display: inline-block;
    margin: 3px;
}
.footer-work a img:hover{
    opacity: 1;
}
.footer-btm{
    padding: 30px 20px;
    border-top: 1px solid #444;
    text-align: center;
}

