/***********bootstrap navigation overrides--*/
.navbar-default {
   font-family: $primary-font;
    border:none;
    border-radius: 0;
    margin-bottom: 0;
    width:100%;
    min-height: 80px;
    padding: 15px 0;
    box-shadow: -1px 1px 3px rgba(0,0,0,0.1);
    background:#fff;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: $skincolor;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: $skincolor;
    background-color: #fff;
}
.navbar-brand{
    font-weight: 800;
    color:#000 !important;
    font-size: 30px;
    line-height: 14px;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover {
    color: $skincolor;

}

/*navbar search form***/
.dropdown-form{
    padding: 10px 15px;
    min-width: 210px;
}
.dropdown-form .form-inline .form-control{
    height: 32px;
}
/*============================*/
/*======dropdowm menu=========*/
/*============================*/
.navbar .dropdown-menu {
    margin: 0;    
    background-color: #fff;
    border: none;  
    padding: 0px;
}
.navbar .dropdown-menu li a{
    color:#777;
    padding: 6px 20px;
    font-weight: 400;
    font-size: 15px;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

/*********top bar************/
.top-bar-wrap{
    padding: 6px 0;
    background-color: #333;

}
.top-bar{
    min-height: 20px;
    line-height: 20px;
}
.top-bar a{
    font-size: 12px;
    color:#fff;
}
.top-bar .social-1 li a i{
    width:20px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
}
