@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800');
@import "_variables.scss";
@import "_base.scss";
@import "_header.scss";
@import "_footer.scss";


/************************image hover effect*******************/

.item-img-wrap{
    position: relative;
    text-align: center;
    overflow: hidden;

}
.item-img-wrap img{
    -webkit-transition:all 200ms linear; 
    -moz-transition:all 200ms linear; 
    -o-transition:all 200ms linear; 
    -ms-transition:all 200ms linear; 
    transition:all 200ms linear; 
}
.item-img-overlay{
    position: absolute;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
}
.item-img-overlay span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/plus.png) no-repeat center center rgba(108, 168, 255, 0.7);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity 250ms linear;
    transition: opacity 250ms linear;
}

.item-img-wrap:hover .item-img-overlay span{
    opacity: 1;
}
.item-img-wrap:hover img{
    -moz-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform: scale(1.1); 
}






/******************services****************/
/*service box*/
.service-box h4 i{
    margin-right: 10px;
    color:$skincolor;
    font-size: 27px;
}
/*progress rounded*/
.process-rounded{
    background: url(../img/showcase-2.jpg);
    padding: 50px 0;
}
.process-rounded h3{
    color:#fff;
    margin-bottom: 50px;
}
.process-box{
    text-align: center;
}
.process-box i{
    width:90px;
    height: 90px;
    line-height: 90px;
    font-size: 54px;
    color:$skincolor;
    margin-bottom: 20px;
    border: 2px solid $skincolor;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.process-box:hover i{
    color:#fff;
    background-color: $skincolor;
}
.process-box h4{
    color:#fff;
    margin-bottom: 0px;
}
.service-box-2 {
    text-align: center;

}
.service-box-2 i{
    width:60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    margin-bottom: 20px;
    color:#fff;
    background-color: $skincolor;
    font-size: 26px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.service-box-2:hover i{
    background-color: #333;
    color:#fff;
}
/**************work and portfolio whole*******/
/* mouse grab icon */
.grabbing { 
    cursor:url(../img/grabbing.png) 8 8, move !important;
}

.portfolio{
    padding: 60px 0;
    background-color: #f5f4f4;
}
.work-desc{
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.work-desc h5{
    margin: 0px;
    display: inline-block;
    font-size: 15px;
}
.work-desc i{
    width:32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color:#fff;
    background-color: $skincolor;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-right: 30px;

}
.owl-spaced .owl-item > div{
    margin: 5px;
}

#grid .mix{
    opacity: 0;
    display: none;
}
.portfolio-filters{
    margin-bottom: 40px;
    margin-left: 0px;
}
.portfolio-filters li{
    padding: 4px 10px;
    background-color: #333;
    color:#fff;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.portfolio-filters li:hover{
    background-color: $skincolor; 
    color:#fff;
}
.portfolio-filters li.active{
    background-color: $skincolor;
    color:#fff;
}


/*testimonials parallax*/
.testimonials{
    background: url(../img/showcase-3.jpg);
    padding: 50px 0;
}
.testimonials h4{
    color:#fff;
    font-weight: 300;
}
.testimonials  h4 i{
    color:$skincolor;
}
.testimonials p{
    color:$skincolor;
}
/***********bootstrap collapse overrides*/
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}
.panel-default>.panel-heading {
    color: #000;
    background-color: #fff;
    border-color:$skincolor !important;
    padding: 7px 12px;
}
.panel-title i{
    margin-right: 10px;
    color:#6ca8ff;
}



/**************coming soon*************/
.soon-bg{
    background: url(../img/showcase-1.jpg);
    padding: 150px 0;
}
.soon-bg h2{
    font-weight: 300; 
    color:#fff;
}
.countdown_amount {
    display:block;
    font-size:44px;
    padding-top:25px;
    line-height:20px;
    font-weight:400; 
    color:#fff;

}
.countdown_section {
    display:inline-block;
    width:120px;
    height:120px;
    padding-top: 13px;
    margin:10px;
    color:#fff;
    background-color:rgba(255,255,255,0.1);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
    text-align: center
}

.subscribe-form .form-control{
    height: 38px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}




/****fun facts*****/
.fun-fact-wrap{
    background: url(../img/showcase-1.jpg);
    padding-top:50px;
    padding-bottom: 30px;
}
.facts-in{
    text-align: center;
    margin-bottom: 60px;
}
.facts-in h3{
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 400;
    color:#000;
}
.facts-in h3 i{
    font-size: 40px;
    margin-right: 20px;
    color:$skincolor;
}
.facts-in h4{
    margin-bottom: 0px;
}

/******owl carousel*******/
.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    /* border-radius: 20px; */
    background: $skincolor !important;
}

/*contact us*/

/*gmap*/
#map-canvas{
    width:100%;
    height: 300px;
}


/***error page****/
.error-digit{
    font-size: 150px;
    text-align: center;
    line-height: 150px;
}
.error-page h3{
    font-weight: 300;
}



/********************************main slider***********************/
.main-slider{
    overflow: hidden;
    position: relative;
    height: 500px;
    .flexslider{
        border: 0px;
        padding: 0px;
        height: 500px;
        margin: 0px;
        box-shadow: none;
        -webkit-box-shadow: none;
        position: relative;
        .slides{
            li{
                background-size: cover;
                background-repeat: no-repeat;
                backface-visibility: visible;
                -webkit-backface-visibility: visible;        
                height: 500px;
                .slider-text{
                    width:100%;
                    display: table;
                    position:relative;
                    height:100%;
                    .inner{
                        width:100%;
                        display: table-cell;
                        vertical-align: middle;
                        position:relative;
                        height:100%;
                        h1{
                            color:#fff;
                            font-weight: 300;
                            text-transform: uppercase;
                            margin-bottom: 20px;
                            font-size: 45px;
                            line-height: 55px;
                        }
                        p{
                            color:#fff;
                            font-size: 18px;
                            font-weight: 300;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
    .flex-direction-nav a{
        height:50px;
        line-height: 50px;
        width:50px;
        text-shadow: none;
        color:$skincolor;

        &:before{
            text-shadow: none;
            color:$skincolor;
        }
    }
}
/*purchase sec*/
.purchase-section{
    padding: 20px 25px;
    background-color: #f5f4f4;
}
.purchase-section h3{
    margin: 0px;
    font-weight: 400;
}
.purchase-section .btn-theme-bg{
    float: right;
}
.purchase-section p{
    margin: 0px;
}


/**************blogs********************/
.post-wrap{
}
.post-desc{
    padding: 15px 0;
}
.post-desc p{
    margin: 10px 0;
}
/**inner pages*****/
.blog-wrap{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 50px;
}
.blog-desc h4{
    font-size: 30px;
    font-weight: 300;
}
.post-deatil li a{
    color:$skincolor;
}
.post-deatil li a:hover{
    color:#000;
}
.comments-list {
    margin: 0 0 54px;
    padding: 0;
}
.comments-list li {
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
}
.comments-list li:first-child {
    padding-top: 10px;
}
.comments-list li .avtar {
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    float: left;
    height: 84px;
    margin: 0 25px 0 0;
    width: 84px;
}
.comments-list .meta {
    color: #7f7f7f;
    font-size: 11px;
    line-height: 18px;
    margin: 0 0 4px;
}
.comments-list p{
    overflow: hidden;
}
/**about us*/
.about-us img{
    float: left;
    width:150px;
    height: 100px;
    margin-right: 20px;
}
.about-us p{
    margin: 0;
    line-height: 28px;
}



/****************bootstrap breadcrumb overrides*****************/
.bread-wrap{
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
.bread-wrap h4{
    margin: 0px;
    text-transform: capitalize;
}
ol.breadcrumb{
    margin: 0;
    padding: 0;
    background-color: transparent;
    color:$skincolor;
}
ol.breadcrumb li a{
    color:#333;
}

/**********************sidenav*********************/
.side-nav li{
    border-bottom: 1px solid #e9e9e9;
}
.side-nav li a{
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    position: relative;
}
.side-nav li a.active{
    color:$skincolor;
}
.side-nav li a i{
    margin-right: 10px;
}
/*********************pricing tables****************/
.naran-pricing{
    border: 1px solid #e9e9e9;
    text-align: center;
}
.narani-price-title{
    border-bottom: 1px solid #e9e9e9;
    padding: 15px 0;
    background: #f9f9f9;
    position: relative;
}
.narani-price-title h3{
    margin: 0px;
    font-size: 18px;
    text-transform: uppercase;
    color:#000;
}
.narani-price-title h2{
    font-size: 38px;
}
.narani-price-title sup{
    color:#777;
    font-size: 16px;
    top: -20px;
}
.narani-price-title sub{
    color:#777;
    font-size: 16px;
}
.narani-price-content{
    padding: 20px 0;
}
.narani-price-content p{
    margin: 0px;
    padding: 10px 0;
    border-bottom: 1px solid #e9e9e9
}
.naran-pricing-btn{
    padding-bottom: 20px;
}
span.popular-tag{
    position: absolute;
    right: 0;
    top: 0;
    padding: 1px 6px;
    color:#fff;
    background-color: $skincolor;
    font-size: 10px;
}
.narani-price-title.popular-title{
    background-color: #333;
}
.narani-price-title.popular-title h2{
    color: #fff;
}
.narani-price-title.popular-title h3{
    color: #fff;
}


/************team****************/
.default-wrap{
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.img {
    background: #f2f2f2;
    display: block;
    line-height: 0;
    margin: 0;
}
.description{
    background: #f2f2f2;
    border-top-width: 1px;
    color: #505050;
    display: table;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}
.description h4{
    margin: 0px;
}
.description span{
    font-size: 11px;
}
.hover-desc{
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left: 0; 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color:rgba(50, 197, 210, .9);
    padding: 20px;
    color:#fff;
}
.hover-desc h4{
    color:#fff;
}
.hover-desc p{
    color:#f5f5f5;
}
.default-wrap:hover .hover-desc{
    opacity: 1;
}

/***********************sign in or sign up css****************/
.login-form{
    padding: 20px;
    background-color: #f5f5f5;
}
.login-form h3 span{
    color:#777;
    font-size: 15px;
}
.btn-fb-login{
    background-color: #3b5998;
    color:#fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
.login-form form a{
    display: inline-block;
    margin-left: 5px;
}
@media(max-width:320px){
    .login-form form a{
        margin-top: 10px;
    }
}


/********************************sidebar***********************/
.sidebar-box h4{
    font-size: 16px;
    font-weight: 400;
    color:#555;
}
.search-widget{
    position: relative;
}
.search-widget i{
    position: absolute;
    top: 10px;
    right: 10px;
    color:#777;
}
.cat-list li{
    padding: 3px 0;
}
.cat-list li a{
    color:#888;
    margin-right: 10px;
}
.cat-list li i{
    color:#888;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.cat-list li:hover i{
    margin-left: 5px;
}
.cat-list li a:hover{
    color:$skincolor;
}

/********elements (remove)*******/
.element-btn a{
    margin: 5px;
}
.grid-system span{
    display: block;
    padding: 3px 8px;
    background-color: #e5e5e5;
    margin-bottom: 5px;
}

@media(max-width:767px){
    .main-slider{
        height: 300px;
        .flexslider{
            height: 300px;
            .slides{
                li{      
                    height: 300px;
                    .slider-text{
                        .inner{
                            h1{
                                color:#fff;
                                font-weight: 300;
                                text-transform: uppercase;
                                margin-bottom: 20px;
                                font-size: 35px;
                                line-height: 45px;
                            }
                            p{
                                font-size: 16px;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:567px){
    .main-slider{
        height: 250px;
        .flexslider{
            height: 250px;
            .slides{
                li{      
                    height: 250px;
                    .slider-text{
                        .inner{
                            h1{
                                color:#fff;
                                font-weight: 400;
                                text-transform: uppercase;
                                margin-bottom: 10px;
                                font-size: 25px;
                                line-height: 35px;
                            }
                            p{
                                font-size: 13px;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:375px){
    .main-slider{     
        .flexslider{         
            .slides{
                li{      
                    height: 250px;
                    background-size:100%;
                    background-position:100%;
                    .slider-text{
                        .inner{
                            h1{
                                color:#fff;
                                font-weight: 400;
                                text-transform: uppercase;
                                margin-bottom: 10px;
                                font-size: 16px;
                                line-height: 25px;
                            }
                            p{
                                font-size: 11px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}